.recentPage {
  user-select: none;
  // min-height: 100%;
  height: 100%;
  // min-height: 100vh;
  padding: 8px 36px;
  display: flex;
  flex-direction: column;
  .pageInner {
    height: 100%;
  }
  .pageTitle {
    padding: 12px 0;
    h2 {
      font-size: 32px;
      font-weight: 800;
    }
  }

  .content {
    flex: 1;
    height: calc(100% - 90px);
  }
}
