.musicTable {
  .toolbar {
    width: 100%;
    padding: 4px 0 16px;
    display: flex;
    align-items: center;
  }
}

.musicItem {
  display: flex;
  width: 100%;
  padding: 12px 0;
  background: #fff;
  transition: all ease 250ms;
  vertical-align: middle;
  align-items: center;
  transition: 150ms ease-in-out all;
  // overflow: hidden;
  &:hover {
    background: #f0f0f0;
    .panel {
      display: flex;
    }
  }
  span {
    // display: inline-block;
    // width: 100%;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  // cursor: pointer;
  &:hover {
    background: #efefef;
  }
  .icon {
    display: flex;
    align-items: center;
    padding: 0 6px;
    // display: inline-block;
    vertical-align: middle;
    color: #999999;
    font-size: 16px;
    // width: 100%;
    // display: flex;
    align-items: center;
    cursor: pointer;
    // &:hover {

    // }
  }
}
.itemTitle {
  // width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-right: 5px;
  span {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.musicItemTitle {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  padding-right: 6px;
  .alias {
    color: #9ca3af;
    padding: 0 4px;
    max-width: 150px;
  }
  .badge {
    font-size: 18px;
    padding: 0 6px;
    display: flex;
    align-items: center;
    color: #1ece9a;
  }
  .panel {
    display: none;
    // display: flex;
    padding: 0 6px;
    margin-left: auto;
    // display: none;
    .panelIcon {
      color: #bebebe;
      height: 22px;
      font-size: 22px;
      // vertical-align: middle;
      padding: 0 3px;
      display: flex;
      align-items: center;
      svg {
        cursor: pointer;
        height: 100%;
        &:hover {
          color: #1ece9a;
        }
      }
      // svg {
      //   transform: translateY(2px);
      // }
    }
  }
  // text-overflow:ellipsis;
  // white-space: nowrap;
}

.detailButton {
  display: flex;
  .button {
    // width: 120px;
    // flex: 0;
    cursor: pointer;
    // margin: 2px 4px;
    background: #1ece9a;
    border-radius: 24px;
    height: 24px;
    padding: 4px 14px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 13.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms all ease;
    height: 100%;
    .prefix {
      height: 100%;
      // width: 22px;
      display: flex;
      align-items: center;
      font-size: 24px;
    }
    &:hover {
      background: #1dc492;
    }
  }
}
