.loginPage {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px;
    display: flex;
    justify-content: flex-end;
    -webkit-app-region: drag;
    .headerInner {
      display: flex;
    }
    .headerButton {
      padding: 4px;
      font-size: 20px;
      svg {
        cursor: pointer;
        -webkit-app-region: no-drag;
      }
      // margin-left: auto;
    }
  }
  .content {

    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 12px;
    flex-direction: column;
    .title {
      font-size: 20px;
      user-select: none;
    }
    .mainContainer {
      .loginForm {
        max-width: 300px;
        .loginFormButton {
          width: 100%;
          // background-color: #1ece9a;
          // border: none;
        }

      }
    }
  }
}
