.volumeBar {
  position: relative;
  .popup {
    display: none;
    position: absolute;
    bottom: 48px;
    left: -18px;
    height: 180px;
    width: 56px;
    padding: 10px;
    // display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 15px 1px;
    &::after {
      content: '';
      box-sizing: content-box;
      position: absolute;
      width: 0;
      height: 0;
      bottom: -7px;
      // background: #fff;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #fff;
      // box-shadow: rgba(0,0,0,.2)  0 0 15px 1px;
    }
    &.show {
      display: flex;
    }
    // box-shadow: ;
    .sliderContainer {
      padding: 16px 0;
      height: inherit;
      // width: 100%;
    }
  }
}
