.headerButton {
  // margin-right: auto;
  height: 100%;
  display: flex;
  font-size: 20px;
  color: #8c8c8c;
  align-items: center;
  font-weight: 100;
  box-sizing: border-box;
  -webkit-app-region: no-drag;
  // -webkit-app-region: drag;

  .btn {
    margin: 0 8px;
    display: flex;
    align-items: center;
  }
  svg {
    cursor: pointer;
    &:hover {
      color: #1ecc94;
    }
  }
}