/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

/* @font-face {
  font-family: 'sourceHans';
  src: url('../../public/SourceHanSerifSC-VF.ttf.woff2');
} */

:root {
  --primary-color: #1ece9a;
  --primary-color-hover: #1dc49a;
}

:root .theme-blue {
  --primary-color: #1890ff;
  --primary-color-hover: #40a9ff;
}

:root .theme-red {
  /* --prim#f5222d */
  --primary-color: #e20001;
  --primary-color-hover: #f02d26;
}

